@forward 'element-plus/theme-chalk/src/mixins/config.scss';

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #374151,
    ),
  ),
  $common-component-size: (
    'default': 38px,
  ),
  $mask-color: (
    '': rgb(30 37 43 / 93%)
  ),
  $bg-color: (
    '': #262D34,
    'page': #262D34,
    'overlay': #262D34,
  ),
  $fill-color: (
    'light': #1e242a,
    'blank': #262D34,
  ),
  $text-color:(
    'primary': #ffffff,
    'regular': #ffffff,
    'secondary': #ffffff,
    'placeholder': #a8abb2,
    'disabled': #c0c4cc,
  ),
  $input: (
    'border-radius': 0.5rem
  ),
  $border-color: (
    '': #374151,
    'light': #374151,
    'lighter': #374151,
    'extra-light': #374151,
    'dark': #374151,
    'darker': #374151,
  ),
  $menu: (
    'bg-color': #262D34,
    'hover-bg-color': #1e242a,
    'active-color': #ffffff,
  ),
  $table: (
    'row-hover-bg-color': #1e242a
  ),
  $card: (
    'bg-color': #262D34
  ),
  $pagination: (
    'button-bg-color': transparent
  ),
  $dropdown: (
    'menuItem-hover-fill': #1e242a,
    'menuItem-hover-color': #ffffff,
  ),
);
